<!DOCTYPE html>
<html lang="en">
<head>
<title>Inertia City</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="my_functions.js"></script>
</head>
<body>

<!-- Header -->
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  <img class="w3-image" src="../static/mainimg.png" alt="branch" width="1500" height="600">
  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
    <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">Harvard University, Masters in Design Engineering '22 </h1>
    <h5 class="w3-hide-large" style="white-space:nowrap">Harvard University, Masters in Design Engineering '22</h5>
    <h3 class="w3-hide-medium w3-hide-small">Idependent Design Engineering Project</h3>
    <h5 class="w3-hide-medium w3-hide-small">doria spiegel</h5>
  </div>

</header>

<div class="row" style="max-width:1500px">
    <div class="column w3-display-container"> 
    <img src="../static/chaos2.png" alt="chaos" class="w3-image column_img">
      <a href="/about"><div class="overlay">
    <p class="w3-display-middle w3-padding-large w3-wide w3-text-light-grey w3-center">ABOUT INEERTIA CITY</p>
      </div></a>
     </div>
  
    <div class="column w3-display-container"> 
    <img src="../static/icity.png" alt="chaos" class="w3-image column_img">
      <a href="/play"><div class="overlay">
    <p class="w3-display-middle w3-padding-large w3-wide w3-text-light-grey w3-center">EXPLORE INERTIA CITY</p>
      </div></a>
     </div>
  

</div>

  
<!-- End page content -->
</div>

</body>
</html>
